.card{

    width: 384px;
    
    height: 291px;

    left: -2045px;

    background-color: rgb(66, 66, 250);
    float: left;
    
    margin-bottom: 5%;
    margin-left: min(50px, 30%);
    
display:inline-block;
    
    border: 3px solid black;
    


}