<div class="video-details">
    <strong>Video Title Here</strong><br>
    <div>
        <div class="upload-date">video upload date</div>
        <div class="uploader-info">
            
            <img height="24px"width="24px" src="https://thenounproject.com/api/private/icons/1051511/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0">
            <span>Name</span>
        </div>
    </div>
</div>
