.card{

    min-width: 20%;
    background-color: rgb(66, 66, 250);
    float: left;
    height:20em;
    
    margin-bottom: 5%;
    margin-left: min(50px, 30%);

    vertical-align: center;
    border: 3px solid black;


}